p{
    font-weight: bold;
}

#top {
    text-decoration: underline;
}

.emphasizedText { 
    font-style: italic;
    color:brown;
}

body{
    background-color:whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 5px solid black 

}